* {
  margin: 0;
  padding: 0;
}


body {
  font-family: sans-serif;
  padding: 0;
  background-color: #161616;
  color: #E2E2E2;
}

#index {
  font-family: sans-serif;
  padding: 80px 20px 0;
  background: url(../image/lobo_fondo2.png)
}

@font-face {
  font-family: menene;
  src: url(../fuentes/SF-Compact-Display-Black.otf) format("opentype");
}

@font-face {
  font-family: menene_bold_2;
  src: url(../fuentes/SF-Compact-Display-Bold_0.otf) format("opentype");
}

@font-face {
  font-family: menene_light;
  src: url(../fuentes/SF-Compact-Display-Light.otf) format("opentype");
}

@font-face {
  font-family: menene_medium;
  src: url(../fuentes/SF-Compact-Display-Medium.otf) format("opentype");
}

@font-face {
  font-family: menene_heavy;
  src: url(../fuentes/SF-Compact-Display-Heavy.otf) format("opentype");
}

@font-face {
  font-family: menene_regular;
  src: url(../fuentes/SF-Compact-Display-Regular_0.otf) format("opentype");
}

@font-face {
  font-family: menene_semibold;
  src: url(../fuentes/SF-Compact-Display-Semibold.otf) format("opentype");
}

@font-face {
  font-family: menene_thin;
  src: url(../fuentes/SF-Compact-Display-Thin.otf) format("opentype");
}

span {
  color: white;
  font-size: 1.5em;
  font-family: menene_light;
}

.verde {
  color: #06f968;
}

.turquesa {
  color: aqua;
}

.m1 {
  margin: .33rem;
}

h1 {
  color: white;
  font-size: 1.6em;
  font-family: menene_bold_2;
  text-shadow: 0 0 0.3em #22ff95;
}
h2 {
  color: #06f96b;
  font-size: 10.6rem;
  font-family: menene;
  text-shadow: 0 0 0.3em #22ff95;
  line-height: 135px;
}



h5 {
  color: white;
  font-size: 1.5em;
  font-family: menene_light;
}

h6 {
  color: white;
  font-size: 1.5em;
  font-family: menene_light;
}

li {
  transition: all .5s;
}

li:hover {
  transform: scale(1.20, 1.20);
}





.header1 {
  background-color: #000000;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav1 {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.nav-link1 {
  color: #e9dcdce5;
  text-decoration: none;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
}

.nav-menu1 {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item1 {
  font-size: 18px;
  margin: 0 20px;
  line-height: 80px;
  text-transform: capitalize;
  width: max-content;
}

.nav-menu-link1 {
  padding: 8px 12px;
  border-radius: 3px;
  font-family: menene_medium;
}

.nav-menu-link1:hover,
.nav-menu-link_active1 {
  transition: 0.1s;
  border-bottom-style: solid;
  border-color: #06f968;
  color: #E2E2E2;
}

.nav-toggle1 {
  color: #06f96b;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
}

.portada1 {
  width: 50%;
  height: 40em;
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin-top: 7.5em;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
}

#contactanos-principal {
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  padding: 0.93em;
  margin-top: 90px;
  justify-content: center;
  align-content: space-between;
}

#formulario {
  width: 25em;
  margin: 1.87em;
}

#parrafo {
  background-color: #06f968;
  width: 9.37em;
  height: 6.25em;
  margin: 1.87em;
  font-style: bold white;
}

.form__input {
  font-family: inherit;
  font-size: 1em;
  padding: 0.8em 1em;
  outline: none;
  border: none;
  border: 0.6em solid #06f968;
  border-radius: 0.2em;
}

.form__input--message {
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: 0.5em;
}

.form__cta {
  font-family: inherit;
  font-size: 1em;
  background-color: #181818;
  color: #06f968;
  border: none;
  font-weight: 300;
  padding: 0.7em 0;
  border-radius: 0.2em;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.5s;
}

.form__cta:hover {
  transform: scale(1.05, 1.05);
  color: #000000;
  background-color: #06f968;
}

.form {
  background-color: black;
  width: 90%;
  max-width: 25em;
  border-radius: 1em;
  padding: 3.5em 1.5em;
  margin: auto;
}

.form__container {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
}

.form__title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 4.5em;
}

.footer {
  position:absolute;
  width: 100vw;
  bottom: 1px;
  color: #000804;
  background-color: #E2E2E2;
  text-align: center;
  height: 4vh;
}


/* cuerpo */


/* pie de pagina */
.pie-pagina {
  width: 100%;
  background-color: #161616;
  margin-bottom: 0px;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.pie-pagina .grupo-1 .box figure img {
  width: 30px;
}
.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: black;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: #06f968;
}
.pie-pagina .grupo-2 {
  background-color: black;
  padding: 10px 0px;
  width: 100%;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small {
  font-size: 10px;
}

.redes {
  width: 50px;
  height: 50px;
}

.gradient {
  font-size: 32px;
  margin-left: 16px;
  text-decoration: none;
  color: white;
  position: relative;
  background-image: linear-gradient(to top right, #00f260, #0575e6);
}

.gradient:hover {
  transform: scale(2);
}

.copy {
  animation-duration: 10s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 80%;
  }

  to {
    margin-left: 0%;
  }
}









/* large devices (large desktop, 992px and up)*/
@media (max-width: 992px) {
  body {
    padding-top: 70px;
  }
  .header1 {
    height: 60px;
  }

  .logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
  }

  .nav-menu1 {
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    list-style: none;
    background-color: black;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100 - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item1 {
    line-height: 70px;
  }

  .nav-menu-link1 {
    padding: 8px 12px;
    border-radius: 3px;
    font-family: menene;
  }

  .nav-menu-link1:hover,
  .nav-menu-link1_active {
    transition: 0.1s;
    border-bottom-style: solid;
    border-color: #06f968;
    color: #e2e2e2;
  }

  .nav-toggle1 {
    display: block;
  }

  .nav-menu1_visible {
    left: 0;
  }

  .portada1 {
    width: 100%;
    height: 40em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-top: 0.1em;
    justify-content: space-around;
  }

  h1 {
    color: white;
    font-size: 1em;
    font-family: menene_bold_2;
    text-shadow: 0 0 0.1em #22ff95;
  }

  h2 {
    color: #06f96b;
    font-size: 4.6rem;
    font-family: menene;
    text-shadow: 0 0 0.3em #22ff95;
    line-height: 80px;
  }

  h5 {
    color: white;
    font-size: 1.5em;
    font-family: menene_light;
    text-align: justify;
  }

  h6 {
    color: white;
    font-size: 1.5em;
    font-family: menene_light;
  }

  span {
    color: white;
    font-size: 1.3em;
    font-family: menene_light;
  }

  .verde {
    color: #06f968;
  }

  .turquesa {
    color: aqua;
  }
}

/*medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {


  .nav-menu-link:hover,
  .nav-menu-link_active {
    transition: 0.1s;
    border-bottom-style: solid;
    border-color: #06f968;
    color: #e2e2e2;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .portada1 {
    width: 100%;
    height: 40em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-top: 0.1em;
    justify-content: space-around;
  }

  h3 {
    color: white;
    font-size: 1em;
    font-family: menene_bold_2;
    text-shadow: 0 0 0.1em #22ff95;
  }

  h4 {
    color: #06f96b;
    font-size: 3.6rem;
    font-family: menene;
    text-shadow: 0 0 0.3em #22ff95;
    line-height: 80px;
  }

  h5 {
    color: white;
    font-size: 1.5em;
    font-family: menene_light;
    text-align: justify;
  }

  h6 {
    color: white;
    font-size: 1.5em;
    font-family: menene_light;
  }

  span {
    color: white;
    font-size: 1.3em;
    font-family: menene_light;
  }

  .verde {
    color: #06f968;
  }

  .turquesa {
    color: aqua;
  }
}

/*small devices (landscape phones,576px and up)*/
@media (max-width: 576px) {
body {  padding-top: 70px;
}
.header {
  height: 60px;
}

.logo {
  font-size: 25px;
  padding: 0 20px;
  line-height: 60px;
}

.nav-menu {
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  list-style: none;
  background-color: black;
  position: fixed;
  left: 0;
  top: 60px;
  width: 100%;
  padding: 20px 0;
  height: calc(100 - 60px);
  overflow-y: auto;

  left: 100%;
  transition: left 0.3s;
}

.nav-menu-item {
  line-height: 70px;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
  font-family: menene;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  transition: 0.1s;
  border-bottom-style: solid;
  border-color: #06f968;
  color: #e2e2e2;
}

.nav-toggle {
  display: block;
}

.nav-menu_visible {
  left: 0;
}

.portada1 {
  width: 100%;
  height: 35em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-top: 0.1em;
  justify-content: space-around;
}

h3 {
  color: white;
  font-size: 1em;
  font-family: menene_bold_2;
  text-shadow: 0 0 0.1em #22ff95;
}

h4 {
  color: #06f96b;
  font-size: 2.6rem;
  font-family: menene;
  text-shadow: 0 0 0.3em #22ff95;
  line-height: 80px;
}

h5 {
  color: white;
  font-size: 1.5em;
  font-family: menene_light;
  text-align: justify;
}

h6 {
  color: white;
  font-size: 1.5em;
  font-family: menene_light;
}

span {
  color: white;
  font-size: 1.0em;
  font-family: menene_light;
}

.verde {
  color: #06f968;
}

.turquesa {
  color: aqua;
}
}